{{>layout/header}}
<h1>메인화면</h1>
<!-- 	<p><a href="/login">로그인</a></p> -->
	<p><a href="/join">회원가입</a></p>
	<p><a href="/trainer/regist">트레이너 등록</a></p>
	<p><a href="/trainer/list">트레이너 리스트 조회</a></p>
	<p><a href="/lesson/regist">수업 마스터 등록</a></p>
	<p><a href="/lesson/list">수업 마스터 조회</a></p>
{{>layout/footer}}