{{>layout/header}}

<h1> 수업 조회 </h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <!-- 트레이너등록 페이지 등록 -->
            <a href="/lesson/regist" role="button" class="btn btn-primary">신규 수업 등록</a>
        </div>
    </div>
</div>
<br/>
<!-- 목록 출력 영역 -->
<table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
        <tr>
            <th>No.</th>
            <th>수업이름</th>
            <th>수업타입</th>
            <th>수업정원</th>
            <th>수업가격</th>
            <th>사용여부</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- trainers 라는 List를 순회-->
        {{#lessons}}
            <tr>
                <td>{{lessonId}}</td>
                <td>{{lessonName}}</td>
                <td>{{lessonType}}</td>
                <td>{{lessonMaxNum}}</td>
                <td>{{lessonPrice}}</td>
                <td>{{deleteYn}}</td>
                <td> <button class="btn btn-info" id="updateLessonMoveBtn" >수정</button></td>
            </tr>
        {{/lessons}}
    </tbody>
</table>
<!-- 현제 머스테치 파일(index.mustache)을 기준으로 다른 파일을 가져옵니다. -->
{{>layout/footer}}