{{>layout/header}}
<div class="col-md-12 text-center m-2">
	<h1>수업 정보 수정</h1>
</div>
<div class="col-md-12">
    <div class="col-md-12 text-center">
        <form>
        	<input type="hidden" id="lessonId" value= "{{lesson.lessonId}}"/>
	                
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">수업이름</label>
                <div class="col-sm-8">
                	<input type="text" class="form-control lesson-update-form" id="lessonName" value="{{lesson.lessonName}}">
                </div>
            </div>
			<div class="form-group row">
                <label for="role" class="col-sm-2 col-form-label">수업유형</label>
                <div class="col-sm-8">
                	<input type="hidden" id="lessonType" value= "{{lesson.lessonType}}"/>
	                <select class="form-control lesson-update-form" aria-label="Default select example" id="lessonType">
					  <option selected value="">선택</option>
					   {{#lessonTypeList}}
					  	<option value="{{code.code}}">{{codeName}}</option>
					   {{/lessonTypeList}}
					</select>
				</div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">수업정원</label>
                <div class="col-sm-7">
                	<input type="text" class="form-control lesson-update-form" id="lessonMaxNum" value="{{lesson.lessonMaxNum}}">
                </div>
                <div class="col-sm-1">명</div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">수업 교육비</label>
                <div class="col-sm-7">
                	<input type="text" class="form-control lesson-update-form" id="lessonPrice" value="{{lesson.lessonPrice}}">
                </div>
                <div class="col-sm-1">원</div>
            </div>
            <label for="sex" class="col-sm-2 col-form-label">사용여부</label>
                <div class="col-sm-8 row">
                <input type="hidden" id="deleteYn" value= "{{lesson.deleteYn}}"/>
					<div class="form-check col-sm-4">
					  <input class="form-check-input lesson-update-form" type="radio" name="modifyLessonDeleteYn" id="deleteYn_N" value="N">
					  <label class="form-check-label" for="N">
					    사용
					  </label>
					 </div>
					 <div class="form-check col-sm-4">
					  <input class="form-check-input lesson-update-form" type="radio" name="modifyLessonDeleteYn" id="deleteYn_Y" value="Y">
					  <label class="form-check-label" for="Y">
					    미사용
					  </label>
					</div>
				</div>
            </div>
            
            
        </form>
        <div class="text-center">
			<a href="/" role="button" class="btn btn-secondary">취소</a>
			<button type="button" class="btn btn-primary" id="lessonUpdateBtn">등록</button>
        </div>
    </div>
</div>

{{>layout/footer}}